{% if include.arr.size > 0 %}
<ul class="pubs-list-compact">
  <h3 class="year"> {{ include.yr }} </h3>
  {% for pub in include.arr %}
  <li class="pub-entry">
    {% if pub.media.img %}
      <div class="pub-image">
        <img src="/assets/img/papers/{{ pub.media.img }}" alt="{{ pub.title }}" />
      </div>
    {% endif %}
    <div class="pub-details">
      <div class="pub-title">{{ pub.title }}</div>
      {% if pub.award %}<div class="award" title="Award">🏆 {{ pub.award }}</div>{% endif %}
      <div class="pub-info">{{ pub.authors }}</div>
      {% if pub.venue %}<div class="venue-full">{{ pub.venue }}</div>{% endif %}
      <div class="pub-media">
        {% if pub.media.paper %}
          <a href="/assets/papers/{{ pub.media.paper }}" target="_blank" title="PDF"><span aria-label="PDF">📄 Paper</span></a>
        {% endif %}
        {% if pub.media.slides %}
          <a href="/assets/slides/{{ pub.media.slides }}" target="_blank" title="Slides"><span aria-label="Slides">🖥️ Slides </span></a>
        {% endif %}
        {% if pub.doi %}
          <a href="{{ pub.doi }}" target="_blank" class="doi-link">🌐 DOI</a>
        {% endif %}
        {% if pub.url %}
          <a href="{{ pub.url }}" target="_blank" title="Project/Web"><span aria-label="Web">🌐</span></a>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}