$page-width: 960px;
$pad: 75px;
$descrip-width: 500px;
$descrip-extra:500px;
$descrip-position:500px;


$safe-size: 90%;
$font-size: 20px;
$font-color: #444;
$light-font-color: #888;
$mobile-width: 768px;
